@media (width<749px) {
     .header .navbar{
        display: none;
    } 
    .header .btn{
        display: inline;
        font-size: 1.65rem;
    }
    .home-content h3{
        font-size: 1.3em;
        font-weight: 700;
    }
    .about-text h2,.services-list div h2{
        font-size: 1.5em;
    }
    
    .home-content p{
        font-size: 0.9em;
    }
    .home-sci a,.about-text{
        font-size: 0.98em;
    }

    
    

}
@media (min-width:749px){
    .sidebar{
        display: none;
    }
}
